body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #00796b;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    flex : 1;
}

.data-container {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

#data-display p {
    font-size: 1.2em;
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #00796b;
    color: white;
    
}
.lamp-button {
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s;
}

.lamp-button:hover {
    background-color: #005b4f;
}

.lamp-button i {
    font-size: 20px;
}

